<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helicorder Stations Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link rel="stylesheet" href="static/css/styles.css" />
    <style>
        #map { height: 600px; }
    </style>
</head>
<body>
    <h1>Helicorder Stations Map</h1>
    <div id="map"></div>
    <p><a href="index.html">Back to All Stations</a></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
